body {
    background-color: #FFFFFF;
}

#page-logo {
  width: 500px;
}

#home {
  color: #B5B3B6;
  padding: 0 20vw;
  position: relative;
  overflow: hidden;
  text-align: center;
  
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

@media (max-width: 990px) {
  #home {
      padding: 0 10vw;
  }
}

@media (max-width: 750px) {
  #home {
      padding: 0;
  }
  #page-logo {
    width: 360px;
  }
}

@media (max-width: 400px) {
  #page-logo {
    width: 300px;
  }
}