---
title: Sillages - Films
---

<div id="home">
  <div class="home-content">
    <%= image_tag "logo_sillages_films.png", width: "500" %>
    <br>

    <div class="container">
      <div class="row">
        <% data.films.each do |film| %>
          <div class="col-xs-12 col-sm-6">
            <%= partial(:cards, :locals => {film: film}) %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

