---
title: Sillages - Films
---

<div id="home">
  <%= image_tag "logo_sillages_films.png", id: "page-logo" %>
  <br>

  <div class="card-container">
    <div class="card-flex-container">
      <% data.films.each do |film| %>
        <%= partial(:cards, :locals => {film: film}) %>
      <% end %>
    </div>
  </div>
</div>

